extends articlelayout

block append vars
  - bodyclass = 'article-detail ' + page.metadata.indexClass

block content
  header.articleHeader
      h1!= page.title

  article.article
    .col.col-3
        h4.articleSubhead= page.metadata.p1Title
        div!= page.metadata.p1

    .col.col-3
        h4.articleSubhead= page.metadata.p2Title
        div!= page.metadata.p2

    .col.col-3
        h4.articleSubhead= page.metadata.p3Title
        div!= page.metadata.p3

  .imgWrap
      img(src="img/akademie-kone.jpg")