
extends layout

block vars
    - var bodyclass = 'index';

block content
    #index
        - var articles = _.chain(env.helpers.getArticles(contents)).sortBy(function(article){ return article.metadata.order; }).value();
        .col.col-1
            each article in articles
                if article.metadata.indexCol == '1'
                    article.article.excerpt(class=article.metadata.indexClass)
                        h2
                            if article.metadata.indexTitle
                                a.scrollToArticle(href='#'+article.metadata.indexClass)!= article.metadata.indexTitle
                            else
                                a.scrollToArticle(href='#'+article.metadata.indexClass)= article.metadata.title

                        if article.metadata.indexImg
                            a.scrollToArticle(href='#'+article.metadata.indexClass)
                                img(src="img/"+article.metadata.indexImg)
                        if article.metadata.excerpt
                            p= article.metadata.excerpt
                                a.scrollToArticle(href='#'+article.metadata.indexClass).moreLink &raquo;
        .col.col-2
            each article in articles
                if article.metadata.indexCol == '2'
                    article.article.excerpt(class=article.metadata.indexClass)
                        h2
                            if article.metadata.indexTitle
                                a.scrollToArticle(href='#'+article.metadata.indexClass)= article.metadata.indexTitle
                            else
                                a.scrollToArticle(href='#'+article.metadata.indexClass)= article.metadata.title
                        if article.metadata.indexImg
                            a.scrollToArticle(href='#'+article.metadata.indexClass)
                                img(src="img/"+article.metadata.indexImg)
                        if article.metadata.excerpt
                            p= article.metadata.excerpt
                                a.scrollToArticle(href='#'+article.metadata.indexClass).moreLink &raquo;

        .col.col-1
            each article in articles
                if article.metadata.indexCol == '3'
                    article.article.excerpt(class=article.metadata.indexClass)
                        h2
                            if article.metadata.indexTitle
                                a.scrollToArticle(href='#'+article.metadata.indexClass)= article.metadata.indexTitle
                            else
                                a.scrollToArticle(href='#'+article.metadata.indexClass)= article.metadata.title
                        if article.metadata.indexImg
                            a.scrollToArticle(href='#'+article.metadata.indexClass)
                                img(src="img/"+article.metadata.indexImg)
                        if article.metadata.excerpt
                            p= article.metadata.excerpt
                                a.scrollToArticle(href='#'+article.metadata.indexClass).moreLink &raquo;

        span.clearfix

block pages
    header.header.stickyHeader
        div.content-wrap
            div.logo
                a(href=locals.url) 
                    img(src="img/logo.png")
            h1.smallTitle
                a(href=locals.url) nl 15/17
    script.
        var articlesArr = [];

    each article in articles
        section(id=article.metadata.indexClass).articleWrapper
            .articleTarget
                .content-wrap
                    h1= article.metadata.title
                    include placeholder
                    script.
                        articlesArr.push({id: '#{article.metadata.indexClass}', link: '#{article.url}'});

    footer
        div.content-wrap
            block footer
                section.copy
                    p &copy; 2015  Česká tisková kancelář – všechna práva vyhrazena. Registrace MK ČR E 7239 | Design: #[a(href="http://askdesigners.eu") Ask designers]