doctype html
block vars
  - var bodyclass = null;

html(lang='cs') 
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title
            block title
              = locals.name
        link(rel='apple-touch-icon', href='apple-touch-icon.png')
        link(rel='stylesheet', href='css/normalize.css')
        link(rel='stylesheet', href='css/main.css')
        link(rel='stylesheet', href='css/fonts.css')
        script(src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js")
        

    body
        <!--[if lt IE 8]>
        p.browserupgrade You are using an #[strong outdated] browser. Please #[a(href="http://browsehappy.com") upgrade your browser] to improve your experience.
        <![endif]-->
        header.header
            div.content-wrap
                block header
                    div.logo
                        a(href=locals.url) 
                            img(src="img/logo.png")
                    h1
                        a(href=locals.url)= locals.name
                    //- .hambac nic
        div#bigWrap

            div#content(class='#{bodyclass}')
                div.content-wrap
                    block content

            div#pages
                block pages


            footer
                div.content-wrap
                    block footer
                        section.copy
                            p &copy; #{ new Date().getFullYear() } #{ locals.owner }
        
        script(src="js/vendor/jquery-1.11.3.min.js")
        script(src="js/vendor/throttle-debounce.min.js") 
        script(src="js/pages.js")